.text-bold{
    font-weight: bold;
}

header.act #logo{
    margin-top: 10px;
}

#loader-wrapper{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
    overflow: hidden;
    background: #7f7f7f;
}

#loader-wrapper img {
    position: absolute;
    left: 46%;
    top: 45%;
    margin-left: 10px;
    
    z-index: 1;
}     

.h3{
    text-transform: none;
    font-size: 25px;
    font-weight: bold;
    line-height:1.3;
}

.home-pages{
    background-image: url('../img/bide-images/bg-home.jpg'); 
    background-size: contain;

}

.home-pages .more-button{
    border-color: black;
    border-width: thin;
    padding-bottom: 7px !important;
    margin-top: 10px;
}

.text-home-pages{
    padding-top:250px; 
    padding-left: 150px;
}

.about-pages{
    background-image: url('../img/bide-images/bg-about.jpg'); 
    background-size: contain;
    min-height: 800px;
}
.about-pages article{
    padding-top:0
}

.new-block{
    padding-top:80px;
}


.about-pages article p{
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 1.3;
    color: black;
    text-align:right;
    margin-right: 20px;;
    font-weight: 200;
}


.about-pages .baris-2 p{
    font-size: 25px;
    color: black;
    text-align: left;
    margin-top: 80px;
    padding-bottom: 50px;
    line-height: 1.2;
    padding-left: 20px;
    border-left-color: #f6b748;
    border-left-width: 5px;
    border-left-style: solid;
    padding-top: 15px;
}

.service-pages-intro{
    background-image: url('../img/bide-images/bg-service-intro.jpg'); 
    background-size: 100vw;
    min-height: 800px;
}

.service-pages-intro .service-intro-headline{
    color: black;
    font-size: 50px;
    padding-top: 200px;
    text-align: center;
    line-height: 1.3;
}

.service-pages-intro .scroll-intro{
    color: black;
    margin-left: 73vw;
    margin-top: 150px;
    font-size: 20px;
}

.service-pages-1 {
    background-image: url('../img/bide-images/bg-service-1.jpg'); 
    background-size: 100vw;
    min-height: 800px;
}

.service-pages-1 .logo-text{
    width: 20vw;
    margin-right: 2vw;
}
.service-pages-1 .logo-service{
    margin-bottom: 8vh !important;
    font-size: 35px;
}

.service-pages-1 p{
    color: black;    
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
}

.service-pages-2 {
    background-image: url('../img/bide-images/bg-service-2.jpg'); 
    background-size: 100vw;
    min-height: 800px;
}

.service-pages-2 .service-2-left{
    width: 37vw;
}

.service-pages-2 .service-2-headline{
    font-size: 2.7vw;
    line-height: 1.3;
    text-transform: bold;
    font-weight: normal;
    font-family: 'arial';
    text-align: center;
    color:black;
    margin-bottom: 4vh !important;
}

.service-pages-2 .service-2-checklist{
    width:4vw;
}

.service-pages-2 .service-2-right p{
    display: inline-block;
    color: black;
    font-size: 2.0vw;
    margin-left: 2vw;
    margin-top: 3vh;
    line-height: 1.3;
}

.service-pages-3 {
    background-image: url('../img/bide-images/bg-service-3.jpg'); 
    background-size: 100vw;
    min-height: 800px;
    background-repeat: no-repeat;
}

.service-pages-3 .title{
    margin-left:5vw;
    color: black;
    font-size: 1.5vw;
    
}
.service-pages-3 .service-3-left{
    width: 25vw;
    margin-left:auto;
    display: block;
}

.service-pages-3 .service-3-right{
    width: 25vw;
    margin-right:auto;
    display: block;
}
.service-pages-3 .first{
    margin-top: 3vh !important;
}
.service-pages-3 .child{
    margin-top:3vh;
}

.how-to {
    background-image: url('../img/bide-images/bg-howto.png'); 
    background-size: 100vw;
    min-height: 800px;
    background-repeat: no-repeat;
}

.how-to .title{
    margin-left:8vw;
    color: black;
    margin-top: 7vh;
    font-size: 2.5vw;
    font-weight: bold;
}

.how-to .image-how-to{
    width:75vw;
    margin-left:10vw;
    margin-top:10vh;
    display: block;
}

.pricing {
    background-image: url('../img/bide-images/bg-pricing.jpg'); 
    background-size: 100vw;
    min-height: 800px;
    background-repeat: no-repeat;
}

.pricing .price-images-month img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
}

.pricing .notes{
    font-size: 35px;
    color: black;
    text-align: center;
    margin-top: 40px;
    line-height: 1.3;
}

.pricing .payment-selection{
    color: black;
    margin-top: 25px;
    padding-left: 35px;
}

.contact {
    background-image: url('../img/bide-images/bg-contact.jpg'); 
    background-size: 100vw;
    min-height: 800px;
    background-repeat: no-repeat;
}

.contact .contact-box{
    margin-left: 4vw;
}

.contact .title{
    color: black;
    font-size: 3.5vw;
    text-align: right;
    margin-right: 2vw;
    margin-top: 20vh;
    font-weight: bold;
}

.contact .desktop .description{
    color: black;
    text-align: right;
    margin-top: 2vh;
    font-size: 1.5vw;
    margin-right: 2vw;
}

.contact .mobile{
    display: none;
}

.contact .desktop{
    display: block;
}

/* switch css */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@media (max-width:1920px) {
    .container {
        width:100vw;
    }
   }

@media only screen and (max-width: 600px) {

    #loader-wrapper img{
        display:none;
    }

    body {
      background-color: lightblue;
    }
    .home-pages{
        background-image: url('../img/bide-images/bg-home.jpg');
        background-size: cover;
        background-position-x: right;
        
    }
    .home-pages .h3{
        text-transform: none;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.3;
    }

    .text-home-pages{
        padding-top: 100px;
        padding-left: 50px;
    }
    .new-block.type-11{
        height: 100vh;
    }

    .about-pages{
        background-image: url('../img/bide-images/bg-about.jpg'); 
        background-size: cover;
        /* min-height: 800px; */
    }

    .about-pages img{
        width:100%;
    }

    .about-pages article p{
        font-size: 12px;
    }

    .about-pages .baris-2 p{
        font-size: 17px;
        padding-bottom: 0;
        margin-top:20px;
    }

    .service-pages-1{
        background-image: url('../img/bide-images/bg-service-1.jpg');
        background-size: cover;
        min-height: 800px;
        background-position-x: center;
    }
    .service-pages-1 .logo-service{
        margin-bottom: 3vh !important;
    }

    .new-block{
        padding-top:50px !important;
    }

    .service-pages-1 .logo-text{
        width: 40vw;
    }

    .service-pages-1 .h3{ 
        font-size: 35px;
    }

    .service-pages-1 p{
        font-size: 3vh;
        font-weight: normal;
    }

    .service-pages-2{
        background-image: url('../img/bide-images/bg-service-2.jpg');
        background-size: cover;
        min-height: 800px;
    }

    .service-pages-2 .service-2-left{
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .service-pages-2 .service-2-headline{
        font-size: 5vw;
        line-height: 1.3;
        text-transform: bold;
        font-weight: normal;
        font-family: 'arial';
        text-align: center;
        color: black;
        margin-bottom: 4vh !important;
    }

    .service-pages-2 .service-2-checklist{
        width: 10vw;
    }

    .service-pages-2 .service-2-right p{
        display: inline-block;
        color: black;
        font-size: 4.0vw;
        margin-left: 2vw;
        margin-top: 3vh;
        line-height: 1.3;
    }

    .service-pages-3{
        background-image: url('../img/bide-images/bg-service-3.jpg');
        background-size: cover;
        min-height: 800px;
        background-repeat: no-repeat;
    }
    .service-pages-3 .title{
        /* margin-left: 5vw; */
        color: black;
        font-size: 6.5vw;
    }

    .service-pages-3 .service-3-left, .service-pages-3 .service-3-right{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .how-to{
        background-image: none;
        background-size: contain;
        min-height: 300px;
        background-repeat: no-repeat;
    }
    
    .how-to .title{
        margin-left: 0;
        color: black;
        margin-top: 0;
        font-size: 8vw;
        font-weight: bold;
    }

    .how-to .image-how-to{
        width: 100%;
        margin-left: 0;
        margin-top: 2vh;
        display: block;
    }

    .contact{
        background-image: url('../img/bide-images/bg-contact.jpg');
        background-size: cover;
        min-height: 800px;
        background-repeat: no-repeat;
    }
    .contact .mobile{
        display: block;
    }

    .contact .desktop{
        display: none;
    }

    .contact .title{
        /* display: none; */
        color: black;
        font-size: 5vw;
        text-align: right;
        margin-right: 2vw;
        margin-top: 0vh;
        font-weight: bold;
    }

    

    .contact .mobile .description{
        color: black;
        text-align: right;
        margin-bottom: 2vh !important;
        font-size: 2.5vw;
        margin-right: 2vw;
    }

    .footer-bottom .footer-linck a{
        width:100%;
    }

  }