.text-bold{
    font-weight: bold;
}

header.act #logo{
    margin-top: 10px;
}

#loader-wrapper{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
    overflow: hidden;
    background: #7f7f7f;
}

#loader-wrapper img {
    position: absolute;
    left: 46%;
    top: 45%;
    margin-left: 10px;
    
    z-index: 1;
}     

.h3{
    text-transform: none;
    font-size: 25px;
    font-weight: bold;
    line-height:1.3;
}

.home-pages{
    background-image: url('../img/bide-images/bg-home.jpg'); 
    background-size: contain;
}

.text-home-pages{
    padding-top:280px; 
    padding-left: 150px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .home-pages{
        background-image: url('../img/bide-images/bg-home.jpg');
        background-size: cover;
        background-position-x: right;
        
    }
    .text-home-pages{
        padding-top: 100px;
        padding-left: 50px;
    }
    .new-block.type-11{
        height: 100vh;
    }
  }